body, html {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
}
.col {
    height: 100%;
    overflow: auto;
}
#colwrap {
    width: 100%;
}
#duplicatebox {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #cff;
    width: 50%;
    padding: 0px;
}
#deletebox {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #fcc;
    width: 50%;
}
/*#confirmdelete {
    position: fixed;
    right: 0px;
    top: 0px;
}*/
.file {
    border: 1px solid black;
}
.contents, .col h1 {
    margin: 10px;
}